
body {
    margin: 0;
    padding: 0;
  }
  

  table {
    width: 100%;
    max-width: 1140px;   
    margin: 0 auto;
  }
  

  .table2 {
    border-collapse: separate;
    border-spacing: 0 20px;
    table-layout: fixed;
  }
  
  .table2 td {
    padding: 0;
    vertical-align: middle;
  }
  

  .td_image_cell {
    width: 570px;
    height: 350px; 
  }
  
  .td_image_cell img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
 
  .box1 { background-color: darkred;  text-align: center; width: 570px; }
  .box2 { background-color: deeppink; text-align: center; width: 570px; }
  .box3 { background-color: brown;    text-align: center; width: 570px; }
  

  .box_text_color {
    color: white;
    padding: 10px;
  

    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box_text_color h2,
  .box_text_color p,
  .box_text_color a {
    margin: 0;
  }
  
  
  .box_text_color a,
  .box_text_color a:link,
  .box_text_color a:visited,
  .box_text_color a:hover,
  .box_text_color a:active {
    color: inherit;
  }
  

  p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #3d3d3d;
  }
  
  .box_text_color p {
    color: inherit;
  }
  